.vote-cont {
}
.vote {
  margin: 0 5px;
}
.vote__bar {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
.vote_bar button {
  border-radius: 100%;
}
.vote-btn {
  width: 44px;
}

.btn-primary {
  border: 1px solid rgba(126, 229, 255, 0.466) !important;
}
